/*Diseño del Body*/
body{
    /*background-image:url("https://imagenes.20minutos.es/files/og_thumbnail/uploads/imagenes/2018/11/10/816158.jpg");*/
    background-color: #080241;
}


/**************************************************Diseño del menu de navegación****************************************/

header ul {
    /*Apariencia del listado*/
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f39a;
}
header li {
    padding: 20px 0;
    float: left;
}

h1{
    display: block;
    color: #224ba3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    float: center;
    /*Se utilizo margin para acomodar la cabecera h1 en el lugar deseado*/
    margin: 5px 300px 0 20px; 
    padding: 0;
    text-decoration: none;
}


header a, .section3 a {
    text-align: right;
    font-weight: 700;
    display: block;
    color: rgb(68, 67, 67);
    float: center;
    padding: 10px 50px;
    text-decoration: none;
}
/* utilizamos Hover para que al pasar el mouse sobre las secciones no activas estas se identifiquen de un color de letra y un fondo*/
header a:hover:not(.active) {
    color: rgb(255, 255, 255);
    background-color: #021d588f;
}
/*  cuando una seleción este activa esta se distinguira por el color que se tiene*/
header a.active {
    color: rgb(255, 255, 255);
    background-color: #021d58;
    border-radius: 5px;
}
/*******************************************Fin del diseño de la barra de navegación**************************************************************/


/*Mapa*/

.mapa{
    width: 60%;
    margin: auto;
}

.mapa path{
    fill: rgb(27, 160, 22);
    stroke: rgb(255, 255, 254);
    stroke-width: 2px;
}

.mapa :hover{
    fill: rgba(3, 59, 20, 0.993);
}

.mapa a{
    cursor: pointer;
}

/*Modal*/

/*  modal ejemplo
body, modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
}
.contenedor{
    width: 400px;
    height: 300px;
    margin: auto;
    background: #e7e7e7;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
}
.contenededor h1{
    padding: 10px;
    background: #224ba3;
    color: aliceblue;

}
.lb*/

