.background video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body{
    height: 100%;
    width: 100%;
    background-color: rgba(59, 92, 158, 0.434);
}


/* BANNER SECTION */

.banner-section{
    position: relative;
    top: 20%;
    left: 2rem;
    width: calc(100% - 2rem);
}
.pretitle{
    color: rgb(37, 37, 37);
    font-weight: 900;
    font-size: calc(1.5rem + 1.6vw);
    line-height: 0.9em;
    /* font-size: 3.3rem; */
    /* padding: 50px; */
}
.title{
    color: white;
    font-weight: 900;
    font-size: calc(2rem + 2.15vw);
    line-height: 0.9em;
    /* font-size: 3.3rem; */
    /* padding: 50px; */
}
/* .imagen{
    position: absolute;
    transform: translate(20%,-10%);
}

.imagen img{
    border-radius: 45%;
} */


/* LOGIN SECTION */

.login-container{
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.login{
    width: 90%;
    background: rgba(255, 255, 255, 0.804);
    color:#000 ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* position: absolute; */
    position: relative;
    padding: 2rem 2rem;
    padding-top: 6rem;
    border-radius:15px ;
}
@media (min-width: 1200px) {
    .login{
        width: 70%;
    }
}

.logo{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login h2{
    margin: 0;
    padding: 0 0 20px;
    font-weight: 700;
    text-align: center;
}

.login label{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    /* margin-bottom: 30px; */
}

.login input[type="text"],
.login input[type="password"]{
    border: solid 1px rgb(129, 129, 129);
    border-radius: 5px;
    /* border-bottom: 1px solid #fff; */
    background: #fff;
    outline: none;
    color: #000;
    font-size: 16px;
}

.login input[type="submit"]{
    
    margin-top: 15px;
    border: none;
    outline: none;
    height: 40px;
    background:#3097bf ;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}
.login input[type="submit"]:hover{
    transform: scale(1.1);
}

.login .help-links{
    display: flex;
    justify-content: center;
}
.login .help-links a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}

.login .help-links a:hover{
    color: #3097bf;
}