<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./nextpage.css">
    <script src="https://kit.fontawesome.com/eef961b107.js" crossorigin="anonymous"></script>
    <title>Next Page</title>
</head>
<body>
    <section id="pantalla_dividida">
        <div class="izquierda">

            <div >
                <i class="fa-solid fa-arrow-left"></i>
                <h1>CONTAMINACIÓN DE LAS PLAYAS <br> DE MAZATLAN</h1>
                
                <button class="boton1"> Destino Turistico</button>
                <button class="boton2">Playas</button>
                
            </div>

            <div class="link">
                <h3>Alguna de las especies que habitan en las zonas cercanas a la playa <br> de mazatlan son:</h3>
                <img src="./Aquarium backdrop.jpeg" height="200px" width="300px">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Cumque maxime tenetur eaque dignissimos aspernatur error cum labore 
                    voluptatem accusamus voluptates, numquam voluptatibus, 
                    dicta perferendis nostrum inventore, nobis odit recusandae eum!</p>
            </div>

            <div class="link">
                <h3>Alguna de las especies que habitan en las zonas cercanas a la playa <br> de mazatlan son:</h3>
                <img src="./Aquarium backdrop.jpeg" height="200px" width="300px">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Cumque maxime tenetur eaque dignissimos aspernatur error cum labore 
                    voluptatem accusamus voluptates, numquam voluptatibus, 
                    dicta perferendis nostrum inventore, nobis odit recusandae eum!</p>
            </div>
            
        </div>

        <div class="derecha"></div>
    </section>
    
</body>
</html>